<% if @event.errors.any? %>
<ul>
	<% @event.errors.full_messages.each do |msg| %>
	<li> <%= msg %> </li>
	<% end %>
</ul>
<% end %>

<table>
	<%= form_with model: @event do |form|  %>

	<tr>
		<td><%= form.label :title %></td>
		<td><%= form.text_field :title %></td>
	</tr>
	<tr>
		<td><%= form.label :description %></td>
		<td><%= form.text_area :description %></td>
	</tr>
	<tr>
		<td><%= form.label :category %></td>

		<td>
			<%= form.select(:category_id, options_from_collection_for_select(Category.all, :id, :category_name), include_blank: 'Select Category') %>
		</td>
	</tr>
	<tr>
		<td><%= form.label :date %></td>
		<td><%= form.date_field :date , min: Date.today %></td>
	</tr>
	<tr>
		<td><%= form.label :time %></td>
		<td><%= form.time_field :time %></td>
	</tr>
	<tr>
		<td><%= form.label :image %></td>
		<td><%= form.file_field :image %></td>
	</tr>
	<tr>
		<td><%= form.label :price %></td>
		<td><%= form.text_field :price %></td>
	</tr>
	<tr>
		<td><%= form.label :size %></td>
		<td><%= form.text_field :size %></td>
	</tr>
	<ul>
		<%= form.fields_for :event_address, @address do |addresses_form| %>

		<tr>
			<td><%= addresses_form.label :address_line1 , 'Venue Address Line 1' %></td>
			<td><%= addresses_form.text_field :address_line1 %></td>
		</tr>
		<tr>
			<td><%= addresses_form.label :address_line2 , 'Venue Address Line 2' %></td>
			<td><%= addresses_form.text_field :address_line2 %></td>
		</tr>
		<tr>
			<td><%= addresses_form.label :area , 'Venue Area'%></td>
			<td><%= addresses_form.text_field :area %></td>
		</tr>
		<tr>
			<td><%= addresses_form.label :pincode %></td>
			<td><%= addresses_form.text_field :pincode %></td>
		</tr>
		<tr>
			<td><%= addresses_form.label :city %></td>
			<td><%= addresses_form.text_field :city %></td>
		</tr>

		<% end %>
	</ul>
	<tr>
		<td><%=form.submit 'Post Event'%></td>
	</tr>
	<% end %>
</table>
