<table border = '0'>
  <% @events.each do |event| %>
  <h4>
    <strong><%= event.title %></strong>
  </h4>
  <p>
    Description: <%= event.description %>
  </p>
  <% if event.image != nil %>
  <div style = 'width:750px; height:auto'>
    <%= image_tag(event.image , style: 'width:100%') if event.image.present? %>
  </div>
  <% end %>
  <table>
    <tr>
      <td>
        <p>Interests: <%= event.interests.count %>&emsp;&emsp;</p>
      </td>
      <td>
        <p>Comments: <%= event.comments.count %></p>
      </td>
    </tr>
  </table>
  <% unless current_user.has_role? :user %>
  <p>
    <%= link_to 'Show Details', show_details_path(event.id) %>
    &emsp;&emsp;
    <%= link_to 'Edit Event', edit_event_path(event.id) %>
    &emsp;&emsp;
    <%= link_to 'Delete Event', event_path(event.id), method: :delete %>
  </p>
  <% else %>
  <table>
    <tr>
      <td>
        <%= form_tag(show_details_path(event.id), method: :get) do %>
        <button class = 'btn btn-dark' type = 'submit'>Show Details</button>&emsp;
        <% end %>
      </td>
      <% unless event.is_interested?(event.id, current_user.id) || event.is_my_event?(event.id, current_user.id) %>
      <td>
        <%= form_tag(show_interest_path(event.id), method: :post) do %>
        <button class = 'btn btn-dark' type = 'submit'>Show Interest</button>&emsp;
        <% end %>
      </td>
      <% else %>
      <td>
        <button class = 'btn btn-dark' type = 'submit' disabled>Interested</button>&emsp;
      </td>
      <% end %>
      <% unless event.is_registered?(event.id,current_user.id) || event.is_my_event?(event.id , current_user.id) %>
      <td>
        <%= form_tag(registration_form_path(event.id), method: :get) do %>
        <button class = 'btn btn-dark' type = 'submit'>Register</button>
        <% end %>
      </td>
      <% else %>
      <td>
        <button class = 'btn btn-dark' type = 'submit' disabled>Registered</button>&emsp;
      </td>
      <% end %>
    </tr>
  </table>
  <% end %> <br><br>
  <p>
    ----------------------------------------------------------------------------------------------------------------------------------------------
  </p>
  <% end %>
</table>
