<% if current_user %>
		<h4>All Upcoming Events</h4>
 		
		<%= form_tag(root_path, method: "get") do %>
          <%= text_field_tag :query, params[:query] %>
          <button class="btn btn-dark" type="submit">Search</button>
    <% end %>
    <br/> 

		<p>----------------------------------------------------------------------------</p>
		<% @event.each do |e| %>
		
			<h4>
				Event: <%= e.title %>
			</h4>
			<p>
				Description: <%= e.description%>
			</p>
			<% if e.image != nil %>
				<div style="width:400px; height:auto">
					<%= image_tag(e.image , style:'width:100%') if e.image.present? %>
				</div>
			<% end %>
			<table>
				<tr>	
					<td><p>Interests: <%= e.users.count %>&emsp;&emsp;</p></td>
					<td><p>Comments: <%= e.comments.count %></p></td>
				</tr>
			</table>
				<% if current_user.has_role?:admin %>
					<p><%= link_to "Show Details" , show_details_path(e.id) %>
							&emsp;&emsp;
					<%= link_to "Edit Event", edit_event_path(e.id) %>
							&emsp;&emsp;
		  		<%= link_to "Delete Event", event_path(e.id), method: :delete %></p>
		  	
		  	<% else %>
		  		<table>
		  			<tr>
		  				<td><%= link_to "Show Details" , show_details_path(e.id) %> </td>
							<td><%= button_to "Show Interest" , show_interest_path(e.id) %></td>
						</tr>
					</table>
		  	<% end %>
			<p>----------------------------------------------------------------------------</p>
		<% end %>	
<% else %>
	 	<%= link_to "sign in", new_user_session_path %>
		<%= link_to "sign up", new_user_registration_path %>
<% end %>	