<html>
<head>
	
</head>
<body>

<h4>Personal Details</h4>
<p>---------------------------------------------------</p>
First Name : <%= current_user.firstname %> <br>	
Last Name : <%= current_user.lastname %> <br>
Username : <%= current_user.username %> <br>
Contact No : <%= current_user.contact_no %> <br>
Email : <%= current_user.email %><br>
<%= link_to "Edit Profile", edit_user_registration_path %>
<br>
<br>
<br>

<h4>My Events</h4>
	<p>---------------------------------------------------</p>
<% @event.each do |e| %>
		
			<p>
				Title: <%= e.title %>
			</p>
			
			<p>
				Description: <%= e.description%>
			</p>
			<div style="width:400px; height:auto">
			<%= image_tag(e.image , style:'width:100%') %>
			</div>
			<p>
				Date: <%= e.date.strftime("%d %b '%y") %>
			</p>
			
			<p>
				Time: <%= e.time.strftime("%l:%M %p Onwards") %>
			</p>
			<% if e.website != nil %>
				<p>
					Website: <%= e.website %>
				</p>
			<% end %>
			<p>
				Status: <%= e.status %>
			</p>
			<%= link_to "Edit Event", edit_event_path(e.id) %><br>

		  <%= link_to "Delete Event", event_path(e.id), method: :delete %><br>

		  <%= link_to "Interested Users", interested_users_path(e.id) %>

			<p>---------------------------------------------------</p>


	<% end %>	

	</body>

	</html>