<h4><strong>Personal Details</strong></h4>
<p>---------------------------------------------------</p>
Name : <%= @user.name %> <br>
Email : <%= @user.email %><br>
<%= link_to 'Edit Profile', edit_user_registration_path %>
<br>
<br>
<br>
<h4><strong>My Events</strong></h4>
<p>---------------------------------------------------</p>
<% @events.each do |event| %>
<p>
	Title: <%= event.title %>
</p>
<p>
	Description: <%= event.description %>
</p>
<div style="width:400px; height:auto">
	<%= image_tag(event.image , style:'width:100%') %>
</div>
<p>
	Date: <%= event.date.strftime("%d %b '%y") %>
</p>
<p>
	Time: <%= event.time.strftime('%l:%M %p Onwards') %>
</p>
<% if event.website != nil %>
<p>
	Website: <%= event.website %>
</p>
<% end %>
<p>
	Status: <%= event.status %>
</p>
<%= link_to 'Edit Event', edit_event_path(event.id) %><br>
<%= link_to 'Delete Event', event_path(event.id), method: :delete %><br>
<%= link_to 'Interested Users', interested_users_path(event.id) %><br>
<%= link_to 'Registered Users', registered_users_path(event.id) %>
	<p>---------------------------------------------------</p>
<% end %>
