<h4><strong>Registration Form</strong></h4>
<%= form_with url: register_path(@event.id) , model: @register do |f| %>
  <table>
  	<tr>
			<td><%= f.label :Event %>:</td>
			<td><%= @event.title %></td>
		</tr>
  	<tr>
			<td><%= f.label :quantity %>:</td>
			<td><%= select_tag(:quantity, raw('<option value="1">1</option><option 	value="2">2</option><option value="3">3</option><option 	value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>')) %>	
			</td>	
		</tr>	
		<tr>	
			<td><%= f.label :price %>:</td>	
			<td><%= @event.price %> rs. per ticket</td>
		</tr>
	</table>
	<button class="btn btn-dark" type="submit">Register</button>
<% end %>