<h4><strong>Registration Form</strong></h4>
<%= form_with scope: :register, url: register_path(@event.id) ,method: :post do |form| %>
<table>
	<tr>
		<td><%= form.label :Event %>:</td>
		<td><%= @event.title %></td>
	</tr>
	<tr>
		<td><%= form.label :quantity %>:</td>
		<td>
			<%= form.select(:quantity, 1..10) %>
		</td>
	</tr>
	<tr>
		<td><%= form.label :price %>:</td>
		<td><%= @event.price %> rs. per ticket</td>
	</tr>
</table>
<button class="btn btn-dark" type='submit'>Register</button>
<% end %>
