<h4><strong>Registered Events</strong></h4>
<p>-------------------------------------------------------------------------------------</p>
<% @registered_event.each do |e| %>
<% if is_status_true?(@registered_event) %>
<h5>
	<strong>
		<%=e.title %>
	</strong>
</h5><br>
<% if e.image != nil %>
<div style="width:450px; height:auto">
	<%= image_tag(e.image , style:'width:100%') if e.image.present? %>
</div>
<% end %><br>
<table>
	<tr>
		<td><%= form_tag(show_details_path(e.id), method: :get) do %>
			<button class="btn btn-dark" type='submit'>Show Details</button>&emsp;
			<% end %>
		</td>
		<td><%= form_tag(receipt_path(e.id), method: :get) do %>
			<button class="btn btn-dark" type='submit'>Receipt</button>&emsp;
			<% end %>
		</td>
		<td>
			<%= link_to 'Download Receipt', receipt_path(e.id, :format => :pdf) %>
		</td>
	</tr>
</table>

<p>-----------------------------------------------------------------------------------</p>
<% end %>
<% end %>
